[submodule "CMake/Sober"]
	path = CMake/Sober
	url = https://github.com/KonstantinTomashevich/Sober
[submodule "ThirdParty/xxhash_cpp"]
	path = ThirdParty/xxhash_cpp
	url = https://github.com/RedSpah/xxhash_cpp
[submodule "ThirdParty/doctest"]
	path = ThirdParty/doctest
	url = https://github.com/onqtam/doctest
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/cglm"]
	path = ThirdParty/cglm
	url = https://github.com/recp/cglm.git
